
h1,h2,h3,h4,h5,h6, p {
margin-top: 0;
margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color:inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

.section-tilte {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 50px;
    }

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.page-header-container {
    display:flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
text-transform: uppercase;
margin-right: 76px;
}

.menu {
    display: flex;
    column-gap: 40px;
}

.header-logo-color {
    color: #2e2f42;
}

.menu-link {
    display: block;
padding-top: 24px;
padding-bottom: 24px;
color: #2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    column-gap: 40px;
}

.address-link {
line-height: 1.5;
letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}

/* hero section */

.hero {
background: #2e2f42;
padding: 188px 0;
}

.main-title {
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
text-align: center;
}

.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
min-width: 169px;
height: 56px;
background: #4d5ae5;
border: none;
border-radius: 4px;
padding-left: 32px;
padding-right: 32px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}

.main-button:hover,
.main-button:focus {
background: #404bbf;
}

/* our benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-benefits-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-benefits-list {
    display: flex;
    width: ((100% -72px) / 4);
    gap: 24px;
    justify-content: center;
}

.our-benefits-feature {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-benefits-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* team */

.our-team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f4f4fd;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    width: ((100% -72px) / 4);
    gap: 24px;
    justify-content: center;
}

.our-team-item {
    background: #fff;
}

.team-names {
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-role {
    text-align: center;
line-height: 1.5;
letter-spacing: 0.02em;
background: #fff;
}

/* portfolio */

.portfolio {
padding-top: 60px;
padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    width: ((100% -48px) / 3);
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    
}

.portfolio-list-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-list-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* footer */

footer {
    background: #2e2f42;
    color: #f4f4fd;
}

.main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-logo-color {
    color: #f4f4fd;
}

.footer-main-text {
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
margin-top: 16px;
}

